* {
    margin: 0;  
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    height: 100vh;
    height: 100svh;
    display: grid;
    place-items: center;
  }
  
  .btn {
    position: fixed;
    top: 1.25rem;
    right: 1.25rem;
    border: none;
    background-color: transparent;
    font-size: 1.1rem;
    cursor: pointer;
    outline: none;
  }
  
  .calculator {
    width: 16rem;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-auto-rows: 3.5rem;
    gap: 0.5rem;
    border: 0.5px solid #000;
    border-radius: 0.25rem;
    padding: 1rem;
  
    & div {
      display: grid;
      place-items: center;
      font: 0.85rem helvetica,sans-serif;
      color: rgba(0,0,0,0.75);
      border: 0.5px solid #000;
      border-radius: 0.25rem;
      cursor: pointer;
      user-select: none;
  
      &:nth-of-type(1)  { font-weight: 900; letter-spacing: 0.2rem; }
      &:nth-of-type(18) { grid-column: span 2; }
    }
  
    & .display {
      grid-column: span 4;
      font-size: 0.9rem;
      padding: 0 1rem;
      letter-spacing: 0.2rem;
      overflow: hidden;
      cursor: default;
      display: grid;
      justify-content: end;
    }
  }
  
  .mode {
    background-color: rgb(33,31,34);
    filter: invert(100%) hue-rotate(180deg);
  }